DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=primary

NEXT_PUBLIC_MAPBOX_PUBLIC_TOKEN=mapbox-token
NEXT_PUBLIC_DRAW_ROUTE_ENABLED=true
NEXT_PUBLIC_UPLOAD_ROUTE_ENABLED=false
